<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CYOA template</title>
    </head>
    <body>
        <!-- arc title -->
        <h1>{{.Details.Title}}</h1>
        <!-- paragraphs of the arc -->
        {{range .Details.Story}}
        <p>{{.}}</p>
        {{end}}
        <!-- options -->
        {{if .Details.Options}}
        <ul>
        {{range .Details.Options}}
        <li><a href="http://localhost:8080/cyoa/{{.arc}}">{{.text}}</a></li>
        {{end}}
        </ul>
        {{else}}
        <h2>The end!</h2>
        {{end}}
    </body>
</html>